rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /chats/{chatId} {
      // Allow user to read/write/delete their own chat document.
      allow get, update, delete, write: if request.auth != null && request.auth.uid == resource.data.userId;

      // Allow user to create a chat document for themselves.
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
    // Allow a user to query for the list of their own chats.
    // This rule is needed for the getChatsForUser function.
    match /chats/{document=**} {
        allow list: if request.auth != null && request.query.resource.data.userId == request.auth.uid;
    }
  }
}
